$padding: 1em;
$icon-size: 100px;

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

html {
    font-family: Open Sans, sans-serif;
}

html[data-theme="day"],
body {
    background: linear-gradient(360deg, #DFEFF6 0%, rgba(255, 255, 255, 0) 100%), #91C7DE;
    background-attachment: fixed;
}
html[data-theme="night"] body {
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}

.container {
    max-width: 950px;
    margin: 50px auto;
    padding: 100px 10px;
    text-align: center;
    border: 1px;
    border-radius: 15px;
    box-shadow: 0px 0px 27px -10px rgba(0,0,0,1);
    background-color: #3594bf;
    background-image: linear-gradient(#3594bf, #A0D0E4);
}

.location {
    font-size: 2.5em;
    &__descr {
        font-size: 0.5em;
        padding-bottom: $padding;
    }
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &__icon {
        width: $icon-size;
        height: $icon-size;
        margin: $padding;
    }
    &__temp {
        font-size: 1.3em;
    }
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    &__item {
        margin: 15px 0;
    }
    &__title {
        text-transform: uppercase;
        font-size: 0.9em;
    }
    &__wind, &__pressure, &__feels, &__humidity {
        font-size: 1.3em;
        padding: $padding/2;
    }
}

.cloudy-night,
.night,
.clouds,
.rain,
.snow,
.sun,
.sunrise,
.thunder,
.wind {
    background-size: $icon-size;
    background-repeat: no-repeat;
}

.cloudy-night {
    background-image: url('../icons/cloudy-night.png');
}

.night {
    background-image: url('../icons/night.png');
}

.clouds {
    background-image: url('../icons/clouds.png');
}

.rain {
    background-image: url('../icons/rain.png');
}

.snow {
    background-image: url('../icons/snow.png');
}

.clear {
    background-image: url('../icons/sun.png');
}

.sunrise {
    background-image: url('../icons/sunrise.png');
}

.thunder {
    background-image: url('../icons/thunder.png');
}

.haze {
    background-image: url('../icons/wind.png');
}

@import 'blocks/media';



